.video{
    height: 350px;
    width: 700px;
    border: solid;
    border-color: black;
}

/* body{
    background-color: rgb(88, 85, 85);
} */

.btn{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.btn:hover{
    background-color: rgb(87, 82, 75);
}